<h1>Welcome to Yelpies!</h1>
<h2>This is a school web application project that was created for fun. This web app was written to be something resembling Yelp, which is a website that I really enjoyed and used often. </h2>

<h4>All images are directly copied from the restaurants' webpages. I borrowed them from online, but please refer to the original sites for commercial use. </h4>

<h6>I don't want to break laws...</h6>
